<!--todo-make the active class for header dynamique-->
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-left" href="/"><img src="hibou.gif"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Insérer un livre</a></li>
                <li><a href="/liste">Liste de livres</a></li>
                <li><a href="/statistiques">Statistiques</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>