<!--todo Upload app sur GoogleApp -->
<!DOCTYPE html>
<html lang="en">
    <%- include headMeta.ejs %>
    <body>
        <%- include header.ejs %>
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <div class="container">
                    <h2>Notre liste de livres collaborative</h2>
                    <h3>Ajoute donc le dernier livre que tu as lu!</h3><br>
                </div>
                <%- include bookInsertForm.ejs %>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>